@import "../mixins/mixins.scss";
@import '../vars/variable.scss';

.contact-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;

        .media-div{
            display: flex;
            justify-content: space-around;
            .social-container{
                display: flex;
                justify-content: space-between;
                width: 200px;
                i{
                    font-size: 1.5rem;
                    color: $gray-kffto;
                }
                i:hover{
                    @include click-button();
                    transform: scale(1.1);
                    color: $green-kffto;
                }
            }
        }
}