@import '../vars/variable.scss';

.mnu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: white;

    .sections{
        display: flex;
        flex-direction: column;
        margin: 40px;
        min-width: 300px;
        box-shadow: 5px 10px 18px #888888;
    }
}

.mnu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mnu-subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-kffto;
        color: white;
        padding: 0 10px;
    }

    .menu-item{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        color: #636161;
        border: solid rgb(199, 199, 199);
    }
}

.title-content{
    .mnu-drink-title{
        color: #636161;
    }
}
.title-content-two{
    .mnu-food-title{
        color: #636161;
        margin-top: 80px;
    }
}