@import '../vars/variable.scss';

.mnu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-color: white;

    .sections{
        display: flex;
        flex-direction: column;
        margin: 40px;
        min-width: 300px;
        background-color: beige;
    }
}

.mnu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-content-two{
    .mnu-food-title{
        margin-top: 100px;
    }
}