@import "../mixins/mixins.scss";
@import '../vars/variable.scss';

#navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: clamp(50px, 10vh, 100px);
    justify-content: flex-end;
    background-color: black;
    font-family: $main-font;
    
    button{
        width: clamp(80px, 20vh, 200px);
        height: clamp(50px, 10vh, 100px);
        border: none;
        background-color: transparent;
        color: $gray-kffto;
    }

    button:hover{
        @include click-button(); 
        background-color: $green-kffto;
        font-size: 1.1rem;
    }
}